.container {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  text-align: center;

// 광고
.ad{
  overflow: hidden;
  position: relative;
  // 캐러셀
  .adContainer{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 2px 0;

    width: 300%;
    transition: transform 0.5s;
    .adInner{
      width: 100%;
      height: 100%;
      float: left;
      display: flex;
      align-items: center;
      justify-content: center;
      
      img{
        height: auto;
        max-width: 100%;

      }
    }
  }
  // 버튼
  .btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    .button1,
    .button2,
    .button3{
      width: 15px;
      height: 15px;
      border: 1px solid #ADD7F6;
      box-shadow: 0 0 2px #ADD7F6;
      border-radius: 50%;
      background-color: white;
      opacity: 0.7;
      margin: 0 3px;
      cursor: pointer;
    }
  }
}
// 인기 상품
.best{
  // 인기 상품
  .text{
    font-size: 20px;
    font-weight:bold;
    text-align: left;
    padding: 40px 0 15px 15px
  }
  // GET 요청
  .bestContainer{
    display: grid;
    grid-gap: 20px; 
    grid-template-columns: 1fr; /* 좁은 화면에서 1행이 되게 */
    grid-template-rows: auto; 
    flex-wrap: wrap;

    //넓은 화면
    @media (min-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr); 
    }
    .bestItems{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;

      .bestImg{
        width: 200px;
        height: 200px;
        box-shadow: 0 0 3px white;
        border-radius: 7px;
      }
      .bestName{
        font-size: 14px;
        font-weight: bold;
        width: 200px;
        height: 60px;
        white-space: normal;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .bestPrice{
        font-size: 12px;
        height: 20px;
      }
    }
  }
}
}

