.container {
    width: 100%;
    height: 100%;

    padding-top: 50px;
    padding-bottom: 50px;
  }
  
.content{
  width: 100%;
  height: 100%;
  // border: 1px solid gray;

  text-align: center;
}

