.container {
    width: 100%;
    height: 100%;

    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;
  }

  // 메인 광고 캐러셀
.ad{
  overflow: hidden;
}

.adContainer{
  // padding: 5px 0;
  display: flex;
  flex-direction: row;
  background-color: #3F8EFC;
  width: 300%;
  // transform: translate(-100vw);
  transition: transform 0.5s;

  .adInner{
    width: 100%; 
    float: left;

    img{
      width: 100%;
    }
  }
  
}

// 인기 상품
.bestContainer{
  .bestImg{
    // margin: 5px
  }

  .bestSlide{
  }
}
