.container {
  background-color: white;
  box-shadow: 0 0 3px #add7f6;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  // 데스크탑
  @media (min-width: 700px) {
    width: 500px;
  }

  .logo {
    height: 100%;
    padding-left: 5px;

    .logoImg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .user {
    height: 100%;
    padding-right: 10px;
    display: flex;
    align-items: center;

    button {
      margin-left: 20px;
      padding: 5px 10px;
      background-color: #f58220;
      border: none;
      color:white;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      border-radius: 0.25rem;

      &:hover {
        background-color: #e66000;
      }
    }

    .userIcon {
      margin-right: 5px;
    }
  }
}
