.container {
    // border: 1px solid blue;
    background-color: #2667FF;
    width: 70vw;
    // height: 5vh;
    height: 50px;

    margin: 0 auto;
    overflow-y: auto;
    position: fixed;
    top: 0;
    
  }

  @media (min-width: 1200px) {
    .container {
        // border: 1px solid blue;
        background-color: #2667FF;
        width: 500px;
        // height: 5vh;
        height: 50px;
        margin: 0 auto;
        overflow-y: auto;
        position: fixed;
        top: 0;
        
      }
  }
