.product {
  height: 40vh;
  background-color: #ffffff; 
  padding-top: 20px; 
  border-radius: 10px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  width: calc(50% - 30px); 
  margin: 15px;
  float: left;
  box-sizing: border-box;
}

.image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

  .productInfo {
    .name{
      margin: 10px 0;
      font-size: 1em;
      font-weight: bold;
      color: black;
    }
  
    .price{
      font-size: 0.9em;
      font-weight: bold;
      color: orangered;
    }
  }
}



