.image {
    width: 150px; // 이미지 크기
    height: 150px;
    object-fit: cover;
    border-radius: 10px; // 이미지 모서리
  }
  
  .product {
    background-color: #ffffff; // 상품 배경색
    padding: 20px; // 상품 내부 패딩
    border-radius: 10px; // 상품 모서리 둥글게
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // 상품에 그림자 효과 추가
    width: 200px; // 상품 칸 너비
    // height: 300px; // 상품 칸 높이
  }
  
  .productInfo {
    margin-top: 10px; // 상품 정보와 이미지 사이 간격
  }