.searchBarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
  form {
    display: flex;
    align-items: center;
    border: 2px solid #4a4a4a;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
  }
  
  input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1rem;
  }
  
  button {
    background-color: #4a4a4a;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  button:hover {
    background-color: #333333;
  }

  