.selectStoreWrapper {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

select {
  font-size: 16px;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
