@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
  }

  
body{
    margin: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}


#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px #ADD7F6 ;


    // 넓은 화면
    @media (min-width: 700px) {
    height: 100%;
    width: 500px;
    }
} 


